*
!public/
!nginx/
!src

src/**/__tests__
src/**/test.[jt]s
src/**/test.[jt]sx
src/**/spec.[jt]s
src/**/spec.[jt]sx
src/**/*.test.[jt]s
src/**/*.test.[jt]sx
src/**/*.spec.[jt]s
src/**/*.spec.[jt]sx

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!react-router.config.ts
!tsconfig.*
!vite.config.ts
